/.git
/.vs
/.vscode
/Binaries
/Content
/DerivedDataCache
/Intermediate
/Saved
/ThirdParty
/Plugins/IniParser/.git
/Plugins/IniParser/Content
/Plugins/IniParser/Intermediate
/Plugins/RealtimeMeshComponent/.github
/Plugins/RealtimeMeshComponent/Content
/Plugins/RealtimeMeshComponent/Intermediate
/Plugins/SkyCreatorPlugin/Content
/Plugins/SkyCreatorPlugin/Intermediate
/Plugins/SkyCreatorPlugin/Shaders
